@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Alpha Kappa Psi is the oldest and largest professional business fraternity to date. There are over 300 chapters at different schools. The fraternity provides members a great way to make friends and succeed professionally.</p>
