@{
    ViewBag.Title = "Contact Jenna Goldberg";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    123 Court Street<br />
    Athens, OH 45701<br />
    <abbr title="Phone">P:</abbr>
    732-850-6735
</address>

<address>
    <strong>Email:</strong>   <a href="mailto:jg346015@ohio.edu">jg346015@ohio.edu</a><br />
</address>